.weather-data{
    display: block;
    margin: auto;
}

.weather-location{
    width: auto;
    height: 60px;

}
.location{
    font-size: 40px;
}
.weather-temperature{
    display: block;
    width: auto;
    height: 200px;

}
.temperature{
    font-size: 100px;
}
.break-line{
    width: 400px;
    border-radius: 100%;
}