.weather-data{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    margin: 0px 50px 0px 50px;
}

.weather-location{
    width: auto;
    height: 60px;

}
.location{
    font-size: 40px;
}
.weather-temperature{
    display: block;
    width: auto;
    height: 200px;

}
.temperature{
    font-size: 100px;
}
.break-line{
    width: 400px;
    border-radius: 100%;
}
.weather-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.temp-variation{
    display: flex;
    gap:30px;
    justify-content: space-around;
    color: rgb(172, 172, 172);

}
.feelslike-temp{
    color: rgb(172, 172, 172);
}
.description{
    font-size: 15px;
}
.wind-speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    border: solid 2px rgb(196, 196, 196);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
#wind-text{
    color: rgb(172, 172, 172);
    font-size: 13px;
    margin: -20px 0px 10px 0px;
}